.lead {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px auto 0;
}

@media screen and (min-width: 929px) and (max-width: 1024px) {
  .lead {
    width: 928px;
  }
}

@media screen and (min-width: 320px) and (max-width: 928px) {
  .lead {
    margin: 48px auto 0;
    width: 100%;
  }
}
