.intro {
  width: 690px;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 92px 0 0 148px;
}

@media screen and (min-width: 929px) and (max-width: 1024px) {
  .intro {
    margin: 92px 0 0 48px;
  }
}

@media screen and (min-width: 740px) and (max-width: 928px) {
  .intro {
    width: 720px;
    margin: 88px auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 740px) {
  .intro {
    width: 288px;
    margin: 65px auto 0;
  }
}
